<div class="bg-blue-image px-5 py-4 rounded-3 shadow">
    <div class="row justify-content-xl-between justify-content-end align-items-xl-center align-items-end c-50 gx-xl-5 my-2">
        <div class="col-xl-auto">
            <span class="fz-2 fw-600">Rainy day? no worries!</span>
        </div>
        <div class="col-xl-auto mt-xl-0 mt-3">
            <span>If Bali’s weather misbehaves, we’ll move your tour to another day or refund you 
            <br class="d-xl-block d-none">
            completely. It’s our sunshine guarantee — even when the sun takes a rain check.</span>
        </div>
        <div class="col-auto mt-xl-0 mt-1">
            <img src="{{'assets/icons/cloude-Icon.svg'|theme}}" alt="claude" loading="lazy"/>
        </div>
    </div>
</div>