url = "/booking/private-tours"
layout = "base"
title = "Private-tours"
==
<?php


?>
==
<section class="bg-50 z-1 position-relative rounded-bottom">
    <div class="py-5"></div>
    <div class="container-xl">
        <div class="c-400 fw-600 fz-09 d-flex align-items-center justify-content-xl-start justify-content-center">
            <a href="{{'static/home.htm'|page}}" class="c-400 c-950-hover">Home</a>
            <i class="bredcrumbs-arrow mx-2"></i>
            <a href="{{'static/tours.htm'|page}}" class="c-400 c-950-hover">Tours</a>
            <i class="bredcrumbs-arrow mx-2"></i>
            <span class="c-950">{{tour.title}}</span>
        </div>

        <div class="row justify-content-xl-between justify-content-center align-items-end text-md-center">
            <div class="col-xl-7 mt-4">
                <div class="fz-3 lh-11 fw-600">{{tour.title}}</div>
                <div class="fz-12 c-500 mt-4">
                    {{tour.description}}
                </div>
            </div>
            <div class="col-auto mt-4">
                <div class="bg-white shadow rounded-35 c-950 d-inline-flex align-items-center px-4 py-3">
                    <i class="info-icon fz-15"></i>
                    <span class="ms-3">Each package's program is different. <br>See details at the booking stage.</span>
                </div>
            </div>
        </div>


        <div class="bg-white rounded-3 p-2 shadow mt-xl-5 mt-4">
            {%for c in tour.classpage|filter(cat => cat.parent_id is null)%}
            <div class="bg-100 p-2 rounded-25 {{loop.first ? '' : 'mt-xl-1 mt-2'}}">
                <div class="row">
                    <div class="col-xl-5">
                        <div class="position-relative splide rounded-2 oh" ref="bundlesCarousel">
                            <div class="splide__track">
                                <div class="splide__list">
                                    {%for i in c.images%}
                                    <div class="splide__slide">
                                        <img data-splide-lazy="{{i.path}}" alt="premium" class="w-100 rounded-2">
                                    </div>
                                    {%endfor%}
                                </div>
                            </div>
                            {%if c.popular==true%}
                            <div class="position-absolute top start p-4">
                                <div class="bg-orange c-white rounded-35 d-inline-flex align-items-center px-3 py-2">
                                    <span class="fz-08">Popular</span>
                                    <i class="ms-2 popular-icon-white"></i>
                                </div>
                            </div>
                            {%endif%}
                        </div>
                    </div>
                    <div class="col-xl-7">
                        <div class="p-1 h-100 d-flex flex-column">
                            <div class="c-950 fz-16 fw-600">
                                {{c.title}}
                            </div>
                            <ul class="row gx-3 fz-09 mt-2">
                                {%for p in c.props%}
                                <li class="col-auto d-inline-flex align-items-center mt-2 fz-1">
                                    <img src="{{p.icon|media}}" alt="icon" class="h-1em">
                                    <span class="ms-2">{{p.text}}</span>
                                </li>
                                {%endfor%}
                            </ul>
                            <div class="mt-3 c-500">
                                {{c.description|raw}}
                            </div>
                            <div class="flex-grow-1"></div>
                            <div class="row align-items-center mt-3">
                                <div class="col">
                                    <div class="fz-13 fw-600">
                                        from {{c.price}} IDR
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <a href="{{c.link}}" class="btn btn-blue">
                                        <span class="me-2">Book now</span>
                                        <i class="arrow-icon-white"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
        <div class="py-4"></div>
        {%partial 'static/rain'%}
    </div>
    <div class="py-5"></div>
</section>
{%put scripts%}
<script src="{{['assets/js/components/promo-code.js']|theme}}"></script>
<script>
    const { createApp } = Vue;

    createApp({
        data() {
            return {
                loaded: true,
            };
        },
        mounted() {
              const sliders = document.querySelectorAll('.splide');
              sliders.forEach(slider => {
                new Splide(slider, {
                  type: 'loop',
                  lazyLoad: "nearby",
                  perPage: 1,
                  arrows: true,
                  pagination: false,
                }).mount();
              });
        },
    }).component('promo-code', PromoCode).mount("#app");


</script>
{%endput%}