<footer class="footer z-0">
    <div class="py-5"></div>
    <div class="container-fluid px-10 ">
        <div class="text-center">
            <img src="{{'assets/img/logo-white.svg'|theme}}" alt="logo" loading="lazy">
            <div>
                <div class="title fz-3 fw-600 lh-11 mt-4 c-50">Yacht. Chill. Repeat.</div>
                <div class="fz-12 c-50 mt-4">
                    More than a decade of turning Bali’s beauty into <br class="d-xl-block d-none">
                    memories you’ll never forget. Our tours are made <br class="d-xl-block d-none">
                    for those who want more than just a view.
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-auto">
                <div class="px-4 py-3 blured-block rounded-15 text-center h-100">
                    
                    <div class="fz-1 c-white">
                        Bali’s №1 Yacht Experience
                    </div>
                </div>
            </div>
        </div>
        <div class="py-xl-5 py-3"></div>
        <div class="bg-white-10 w-100  h-1"></div>
        <div class="row justify-content-center text-md-center py-1">
            <div class="col-xl-auto order-first">
                <img src="{{'assets/icons/all_cards.svg'|theme}}" alt="cards" loading="lazy" height="20">
            </div>
            <div class="col-auto order-first mt-xl-0 mt-3">
                 <div class="d-inline-flex notranslate ttu fw-600 c-white c-blue-hover pointer" data-fancybox data-src="#currency-popup" >
                    <i class="fz-15 earth-icon-white"></i>
                    <span class="ms-2" v-text="order.language"></span>&nbsp;|&nbsp;<span class="me-2" v-text="order.currency"></span>
                </div>
            </div>
            <div class="col-xl order-first"></div>

            <div class="col-xl-auto mt-xl-0 mt-3">
                <a href="{{'static/information.htm'|page({slug:'health'})}}" class="c-200 c-blue-hover fz-0">Safety & Sustainability Policy</a>
            </div>
            <div class="col-xl-auto mt-xl-0 mt-3">
                <a href="{{'static/information.htm'|page({slug:'privacy'})}}" class="c-200 c-blue-hover fz-0">Privacy policy</a>
            </div>
            <div class="col-xl-auto mt-xl-0 mt-3">
                <a href="{{'static/information.htm'|page({slug:'return'})}}" class="c-200 c-blue-hover fz-0">Cancelation Policy</a>
            </div>

            <div class="col-xl-auto mt-xl-0 mt-3 order-xl-first">
                <span class="c-200 fz-0">©{{now|date('Y')}} All Rights Reserved</span>
            </div>
        </div>
    </div>
    <div class="py-xl-0 py-5"></div>
</footer>