<footer class="footer z-0">
    <div class="py-5"></div>
    <div class="container-fluid px-10 ">
        <div class="text-center">
            <div class="bg-white d-inline-flex py-3 px-4 rounded-2 align-items-center lh-1 shadow">
                <div class="blue-dot rounded-1 bg-blue me-2"></div>
                <span>Our contacts</span>
            </div>
            <div >
                <h2 class="title fz-3 fw-600 lh-11 mt-4 c-50">Are You Ready for a Nusa Penida Tour</h2>
                <div class="fz-12 c-50 mt-4">Get a sneak peek at your day at sea. From a morning <br class="d-xl-block d-none">welcome on deck to a sunset toast, see how we <br class="d-xl-block d-none">fill every hour with adventure and relaxation.</div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-auto"><a href="{{'tours/all.htm'|page}}" class="btn btn-blue">Check tours <i class="ms-2 calendar-icon-white"></i></a></div>
        </div>
        <div class="pt-3"></div>
        <div class="bg-black-20 rounded-35 border-white-10 mt-5">
            <div class="p-1">
                <div class="row">
                    <div class="col-xxl-4 col-xl-4 text-md-center">
                        <a href="{{'static/home.htm'|page}}" class="footer-logo ">
                            <img src="{{'assets/img/logo-white.svg'|theme}}" alt="logo" loading="lazy">
                        </a>
                        <div></div>
                        <div class="mt-3 d-inline-flex align-items-center">
                            
                            <div class="fz-08 c-50">Bali’s №1 Yacht Experience</div>
                        </div>
                    </div>
                    <div class="col-12 d-xl-none">
                        <div class="bg-white-10 w-100 mt-1 h-1"></div>
                    </div>

                    <div class="col-xxl-8 col-xl-8">
                        <div class="row g-xl-3">
                            <div class="col-xl-5">
                                <div class="bg-black-10 bg-md-none d-flex align-items-start rounded-2">
                                    <div class="d-xl-inline-flex align-items-center p-4 d-none">
                                        <div class="blue-dot"></div>
                                        <span class="ms-2 c-200 fz-09">Navigation</span>
                                    </div>
                                    <div class="bg-black-20 bg-md-none flex-grow-1 p-xl-4 rounded-2">
                                        <ul class="footer-menu text-md-center">
                                            <li class="mt-2"><a href="{{'tours/all.htm'|page}}" class="footer-menu-link">Tours</a></li>
                                            <li class="mt-2"><a href="{{'static/about.htm'|page(false)}}" class="footer-menu-link">About</a></li>  
                                            <li class="mt-2"><a href="{{'static/gallery.htm'|page(false)}}" class="footer-menu-link">Gallery</a></li>
                                            <li class="mt-2"><a href="{{'static/reviews.htm'|page(false)}}" class="footer-menu-link">Reviews</a></li>
                                            <li class="my-2"><a href="{{'static/blog.htm'|page(false)}}" class="footer-menu-link">Blog</a></li>
                                            <li class="mt-2"><a href="{{'static/our-service.htm'|page(false)}}" class="footer-menu-link">Our service</a></li>
                                            <li class="mt-2"><a href="{{'static/vacancies.htm'|page}}" class="footer-menu-link">Work with us</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 d-xl-none">
                                <div class="bg-white-10 w-100 my-1 h-1"></div>
                            </div>
                            <div class="col-xl-7">
                                <div class="bg-black-10 bg-md-none d-flex align-items-start rounded-2 h-100">
                                    <div class="d-xl-inline-flex d-none align-items-center p-xl-4">
                                        <div class="blue-dot"></div>
                                        <span class="ms-2 c-200 fz-09">Contacts</span>
                                    </div>
                                    <div class="bg-black-20 bg-md-none flex-grow-1 p-4 rounded-2 d-flex flex-column h-100 text-md-center">
                                        <ul class="footer-contacts">
                                            <li class="footer-contacts-item">
                                                <div class="footer-contacts-title">For chats</div>
                                                <a target="_blank" class="whatsapp-link mt-2 footer-contacts-link" href="{{settings.contacts.whatsapp.link~utm_string}}">{{settings.contacts.whatsapp.number}}</a>
                                            </li>
                                            <li class="footer-contacts-item mt-3">
                                                <div class="footer-contacts-title">For calls</div>
                                                <a target="_blank" class="mt-2 footer-contacts-link" href="{{settings.contacts.phone.link}}">{{settings.contacts.phone.number}}</a>
                                            </li>
                                            <li class="footer-contacts-item mt-3">
                                                <div class="footer-contacts-title">Write us</div>
                                                <a target="_blank" class="mt-2 footer-contacts-link" href="mailto:{{settings.contacts.email}}">{{settings.contacts.email}}</a>
                                            </li>
                                        </ul>
                                        <div class="flex-grow-1"></div>
                                        <ul class="row gx-2 mt-3 justify-content-xl-start justify-content-center">
                                            <li class="col-auto"><a aria-label="instagram" target="_blank" href="{{settings.contacts.instagram}}" class="footer-social-icon instagram-icon"></a></li>
                                            <li class="col-auto"><a aria-label="whatsapp" target="_blank" href="{{settings.contacts.whatsapp.link~utm_string}}" class="whatsapp-link footer-social-icon whatsapp-icon"></a></li>
                                            <li class="col-auto"><a aria-label="youtube" target="_blank" href="{{settings.contacts.youtube}}" class="footer-social-icon youtube-icon"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

       
                            <div class="col-12">
                                <div class="bg-black-10 bg-md-none d-flex rounded-2 align-items-start">
                                    <div class="d-xl-inline-flex align-items-center p-xl-4 d-none">
                                        <div class="blue-dot"></div>
                                        <span class="ms-2 c-200 fz-09 text-nowrap">Our location</span>
                                    </div>
                                    <div class="bg-black-20 bg-md-none p-xl-1 rounded-2 flex-grow-1">
                                        <div class="row justify-content-center">
                                            <div class="col-xl d-flex text-md-center justify-content-xl-start justify-content-center">
                                                <i class="location-icon-white me-3 d-xl-inline-block d-none"></i>
                                                <div class="fz-11 fw-600 c-50">
                                                   {{settings.contacts.address|raw}}
                                                </div>
                                            </div>
                                            <div class="col-auto mt-xl-0 mt-3">
                                               
                                                <a href="{{settings.contacts.location}}" class="btn btn-blur" data-fancybox data-type="iframe">
                                                    <span class="me-2">Open map</span>
                                                    <div class="map-icon-white fz-12"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-white-10 w-100 my-1 h-1"></div>
                <div class="px-xl-3">
                    <div class="row justify-content-center text-md-center">
                        <div class="col-xl-auto order-first">
                            <img src="{{'assets/icons/all_cards.svg'|theme}}" alt="cards" loading="lazy" height="20">
                        </div>
                        <div class="col-auto order-first mt-xl-0 mt-3">
                             <div class="d-inline-flex notranslate ttu fw-600 c-white c-blue-hover pointer" data-fancybox data-src="#currency-popup" >
                                <i class="fz-15 earth-icon-white"></i>
                                <span class="ms-2" v-text="order.language"></span>&nbsp;|&nbsp;<span class="me-2" v-text="order.currency"></span>
                            </div>
                        </div>

                        <div class="col-xl order-first"></div>
                       
                        <div class="col-xl-auto mt-xl-0 mt-3">
                            <a href="{{'static/information.htm'|page({slug:'health'})}}" class="c-200 c-blue-hover fz-0">Safety & Sustainability Policy</a>
                        </div>
                        <div class="col-xl-auto mt-xl-0 mt-3">
                            <a href="{{'static/information.htm'|page({slug:'privacy'})}}" class="c-200 c-blue-hover fz-0">Privacy policy</a>
                        </div>
                        <div class="col-xl-auto mt-xl-0 mt-3">
                            <a href="{{'static/information.htm'|page({slug:'return'})}}" class="c-200 c-blue-hover fz-0">Cancelation Policy</a>
                        </div>
                         <div class="col-xl-auto mt-xl-0 mt-3 order-xl-first">
                            <span class="c-200 fz-0">©{{now|date('Y')}} All Rights Reserved</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pb-5"></div>
</footer>